apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{interface}}-policy-{{node}}-vlan{{vlan}} 
spec:
  nodeSelector: 
    kubernetes.io/hostname: jun-vex-{{node}}.nca.ihost.com 
  desiredState:
    interfaces:
    - name: {{interface}}.{{vlan}} 
      description: vlan {{vlan}} set on {{interface}} 
      type: vlan 
      state: up 
      vlan:
         base-iface: {{interface}}
         id: {{vlan}}
      ipv4:
        dhcp: false 
        enabled: false
